<div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <header class="demo-drawer-header">
          <img src="https://raw.githubusercontent.com/Mario84/tourdelfeed/gh-pages/images/logo.png" class="demo-logo">
        </header>
        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
        
        {% assign tabs = site.pages | sort: 'numero-di-pagina' %}
        {% for p in tabs %}
            <a {% if p.url == page.url %} class="mdl-navigation__link active"{% else %} class="mdl-navigation__link" {% endif %} href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a>

        {% endfor %}



          <div class="mdl-layout-spacer"></div>
        </nav>
      </div>
