<div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <header class="demo-drawer-header">
          <img src="http://lorempixel.com/208/136/" class="demo-logo">
        </header>
        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a {% if my_page.url == page.url %}class="mdl-navigation__link active"{% else %} class="mdl-navigation__link" {% endif %} href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
         {% endif %}
        {% endfor %}
          <div class="mdl-layout-spacer"></div>
        </nav>
      </div>
