<div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <header class="demo-drawer-header">
          <img src="({{ site.url }}/images/logo.png)" class="demo-logo">
        </header>
        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
          <a class="mdl-navigation__link active" href="">1 Introduzione</a>
          <span class="mdl-navigation__link">2 Struttura del catalogo</span>
          <span class="mdl-navigation__link">3 Prezzo di vendita e spese di spedizione</span>
          <span class="mdl-navigation__link">4 Link dell'offerta</span>
          <div class="mdl-layout-spacer"></div>
        </nav>
      </div>
