<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

  <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">


    {% include header.html %}

    {% include navbar.html %}

    <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid demo-content">
          <div class="demo-cards mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
            <div class="demo-updates mdl-card mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
            
            

              <div class="mdl-card__supporting-text mdl-color-text--grey-600">
              
              	<span class="mdl-layout-title responsive">{{ page.title }}</span>
              
				 <div id="wufoo-masfa81re0r7k">
                Fill out my <a href="https://7pixelsrl.wufoo.com/forms/masfa81re0r7k">online form</a>.
                </div>
                <script type="text/javascript">var masfa81re0r7k;(function(d, t) {
                var s = d.createElement(t), options = {
                'userName':'7pixelsrl',
                'formHash':'masfa81re0r7k',
                'autoResize':true,
                'height':'560',
                'async':true,
                'host':'wufoo.com',
                'header':'show',
                'ssl':true};
                s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
                s.onload = s.onreadystatechange = function() {
                var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
                try { masfa81re0r7k = new WufooForm();masfa81re0r7k.initialize(options);masfa81re0r7k.display(); } catch (e) {}};
                var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
                })(document, 'script');</script>

              </div>
              
              
                            
              
              {% for step in site.step %}
              	{% if page.title == step.title %}
                	<div class="wrapper">
                      <div class="mdl-card__supporting-text mdl-color-text--grey-600 link">
                        <a id="openup" class="mdl-navigation__link" href="#">Hai risposto NO ad almeno una domanda?</a>
                      </div>
                      
                      <div class="mdl-card__supporting-text mdl-color-text--grey-600 link small">
                      
                        <h2 class="mdl-layout-title small">HELP – {{ step.title }}:</h2>
                        
                        {{ step.content }}
                        
                        {% if step.alert == ""  %}
                        
                        <div class="alert">
                        ATTENZIONE: {{ step.alert }}
                        </div>
                        {% endif %}
                      </div>
                      
                      </div>
                
                    
                    
                    
                
                
                {% endif %}
              
              {% endfor %}
              
              <div class="mdl-card__supporting-text mdl-color-text--grey-600 link">  
              {% if page.link-pdf-requisiti != ""  %}
              
              	<a class="mdl-navigation__link" href="{{ page.link-pdf-requisiti }}">Scarica requisiti tecnici</a>
                
             {% endif %}
                
                <div class="mdl-card__buttons">
                
                {% if page.link-pagina-precedente != ""  %}
                
                <a href="{{ page.link-pagina-precedente }}" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised ">Indietro</a>
                
                {% endif %}
                
                {% if page.link-prossima-pagina != ""  %}
                
                <a href="{{ page.link-prossima-pagina }}" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">Avanti</a>
                {% endif %}
                
              </div>
              </div>
              
            </div>
            <div class="demo-separator mdl-cell--1-col"></div>
            
          </div>
        </div>
      </main>

    {% include footer.html %}

  </div>

  </body>

</html>
